.quicklist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}



.quickimg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 110px;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 40px;
    
}
.quickimg img{
    width: 280px;
    height: 280px;
}


.ql-tit{
    font-size: 2rem;
    width: 380px;
}
.ql1{
    color: #727272;
}
.ql2{
    color: #FF900E;
}
.ql-desc{
    width: 400px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}





/* Responsive section  */


/* smaller device  */
@media screen and (max-width: 576px) {
    .quicklist{
        margin-top: 25px;
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;

    }
    .quickimg{
        grid-template-columns: repeat(1,1fr);
        padding-left: 0;
        
    }

    .ql-tit{
        width: 320px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .ql-desc{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
}


/* Medium devices  */
@media screen and (min-width:576.01px) and (max-width:1060px){
    
    .quicklist{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 25px;
        margin-right: 0px;
        gap: 0px;
        flex: 1;
        width: 100%;
        margin: 25px auto;
        
        
        
    }
    .quickimg{
        padding-left: 0px;
        
        
    }
    .ql-tit{
        width: 320px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .ql-desc{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    
}

